:root {
  --grey: #f8f8f5;
  --black: #282727;
  --yellow: #f7ab04;
  --green: #427662;
  --font-Hind: "Hind", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;

  font-size: 1.2rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--grey);
  color: var(--black);
  font-family: var(--font-Montserrat);
}
.row {
  width: 110%;
}
/************* cabecera **************/
.container {
  margin: 0;
  padding: 0;
}
.header {
  padding-bottom: 0rem;
  padding-top: 0;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: var(--grey);
}
.header_claro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  margin: 0.5rem 9rem 0.5rem 0;
  background-color: var(--grey);
}
.header_claro img {
  height: 20px;
  padding-right: 0.5%;
}
.header_claro a {
  text-decoration: none;
  color: var(--black);
  padding-right: 2%;
}
.header_claro p {
  margin: 0;
  padding: 0;
  padding-right: 2%;
}
.header_oscuro {
  background-color: var(--black);
  font-family: var(--font-Hind);
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_oscuro a {
  text-decoration: none;
  color: white;
}
#bold {
  font-weight: bold;
  color: var(--yellow);
  margin-right: 9rem;
}

.logo_cabecera {
  width: 83px;
  height: 85px;
  margin-left: 4rem;
}
.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bars__menu span {
  display: none;
  width: 100%;
  height: 2px;
  background: #f7ab04;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}
/* el translate va a variar según la ubicación del menu */
.closeline1 {
  transform: rotate(50deg) translate(0px, -7px);
}
.closeline2 {
  opacity: 0;
  margin-left: -30px;
}
.closeline3 {
  transform: rotate(-45deg) translate(3px, 6px);
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem;
  transition: all 0.4s linear;
  border-radius: 20px;
}
.navigation ul li a:hover {
  background: rgb(130, 130, 130);
}

/***************** Main *****************/
main {
  padding: 9rem 9rem 2rem 9rem;
}
.fondo_primera_parte {
  width: 100%;
}

/************ primera pantalla *************/
/*******  primera parte columna 1 ******/
.col01 {
  padding: 0;
}

figure {
  margin: 0;
  /* max-height:420px ; */
}
/* .lalala{
    max-height:420px ; 
} */
/* .col01{
    max-height:420px ;

} */

.titulo {
  font-family: var(--font-Hind);
  font-weight: 600;
  text-shadow: -4px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: clamp(2.25rem, 5vw, 3.75rem);
  margin: 0;
  line-height: 110%;
}
.txt {
  font-family: var(--font-Hind);
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin: 20px 0 20px 0;
  line-height: 140%;
}

.btn_escribinos,
.btn02mobile {
  background-color: var(--black);
  color: var(--grey);
  border-radius: 70px;
  height: 50px;
  width: 200px;
}
.sobre_papel_amarillo {
  height: 25px;
  margin: 5px;
}
.sobre_papel_negro {
  height: 25px;
  margin: 5px;
}
.btn_escribinos:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.btn02mobile:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.btn_escribinos:hover .sobre_papel_negro {
  display: inline-block;
}
.btn02mobile:hover .sobre_papel_negro {
  display: inline-block;
}
.btn_escribinos:hover .sobre_papel_amarillo {
  display: none;
}
.btn02mobile:hover .sobre_papel_amarillo {
  display: none;
}
.display {
  display: none;
}
.img0302 {
  display: none;
}
.flecha_verde {
  display: none;
}
.puntosMobile01,
.puntosMobile03 {
  display: none;
}
.textMobile {
  display: none;
}
.btn02mobile {
  display: none;
}
/******* fin primera parte columna 1 ******/

/*******  primera parte columna 2 ******/
.img01 {
  position: relative;
  z-index: 3;
}
.img02 {
  position: relative;
  z-index: 3;
}
.puntos01 {
  margin: -130px 0 0 260px;
}

/******* fin primera parte columna 2 ******/

/*******  primera parte columna 3 ******/
.img03 {
  position: relative;
  /* relative para que funcione el z-index */
  margin-top: 17%;
  z-index: 3;
}
.puntos02 {
  position: absolute;
  margin: 0 0 0 -320px;
}
/******* fin primera parte columna 3 ******/
/******* segunda parte  ******/
.parte02 p,
.parte03 p,
.parte04 p {
  font-size: 1.1rem;
  line-height: 160%;
  margin: 30px 0 30px 0;
}
.vision_global,
.credibilidad {
  display: flex;
}
.txt_vertical {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.txt_vertical01 {
  padding-top: 40px;
}
.txt_vertical02 {
  padding-top: 60px;
}

.img04,
.img05 {
  margin-top: 50px;
  max-width: 100%;
  height: 85%;
}
.texto01,
.texto03 {
  text-align: center;
  padding: 80px 0 0 100px;
  justify-content: center;
}
hr {
  width: 50%;
  background-color: var(--yellow);
  margin: auto;
  /* padding: 2px; */
}
hr:not([size]) {
  height: 2px;
}

.flecha_verde_desk {
  position: relative;
  left: 36%;
  top: -136px;
}
.vision_global_Mobile,
.comunicacionMobile {
  display: none;
}
.parte03 {
  margin-top: -450px;
}
.credibilidad {
  justify-content: right;
}
.texto02 {
  padding: 100px 30px 0 30px;
  text-align: center;
}
.img06 {
  position: absolute;
  z-index: 3;
}
.txt_vertical03 {
  position: relative;
  margin-top: 324px;
}
.puntos03,
.puntosMobile04 {
  height: 220px;
  width: auto;
  position: relative;
  left: 55%;
  top: -10px;
}
/**************** Parte5 **************/
.parte05 {
  margin-top: 75px;
  height: 715px;
}

.txt_somos {
  font-family: var(--font-Hind);
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 0.5rem;
  padding-bottom: 40px;
}
.txt_somosMobile{
  display: none;
}
.logotipo {
  width: 400px;
  height: 100px;
}
.start-50 {
  left: 30% !important;
}
.flecha03 {
  position: relative;
  top: -68%;
  left: 52%;
  z-index: 3;
  /* transform: rotate(16deg); */
  width: 73%;
}
.img07mobile{
  display: none;
}
.titulo_diseniamos {
  font-family: var(--font-Hind);
  font-weight: 400;
  font-size: 42px;
  position: relative;
  z-index: 3;
  margin-top: -61px;
  margin-bottom: 30px;
  /* top: -12%; */
}
.circulo {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%;
  box-shadow: -9px 9px 14px rgba(16, 16, 20, 0.35);
  position: relative;
  top: -165px;
}

.circulo > h2 {
  font-family: var(--font-Montserrat);
  font-weight: 400;
  color: var(--black);
  font-size: 1.3rem;
}
.btn2 {
  position: relative;
  top: 14%;
}
.aMedida {
  font-family: var(--font-Hind);
  font-size: clamp(3rem, 5vw, 2rem);
  /* font-size: 84px; */
  font-weight: 600;
  line-height: 100%;
  margin-top: -82px;
  margin-bottom: -3rem;
}
/**************** Servicios **************/
.linea_corta {
  width: 10%;
  margin: 24px 8px 40px 0;
}
.servicios {
  display: flex;
  font-family: var(--font-Hind);
  font-weight: 600;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.linea_larga {
  width: 80%;
  margin: 24px 0 40px 8px;
}
.containerCards{
  padding: 10px 0 10px 0;
}
.cards_container{
  width: 100%;
  margin-top: -90px;
}
.card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: var(--black);
  color: var(--grey);
  font-family: var(--font-Montserrat);
  text-align: center;
  height: 565px;
  box-shadow:-5px 5px 3px rgba(0, 0, 0, 0.25) ;
}
.card_img {
  margin: 30px 0 0 30px;
  width: 80px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
}
.card-text{
  font-size: 1rem;
  font-weight: 300;
}

.card-body {
  padding: 25px;
  margin-top: -15px;
}

/**************** Footer **************/
footer {
  background-color: var(--black);
  color: var(--grey);
  font-size: 14px;
  padding: 1rem 0;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  align-items: center;
  justify-content: center;
}
footer img {
  height: 30px;
}
footer > p {
  margin: 0;
}




@media screen and (max-width: 1754px) {
  .flecha_verde_desk {
    height: 20%;
    width: 32%;
    left: 40%;
    top: -136px;
  }
}
@media screen and (max-width: 1705px) {
  .parte03 {
    margin-top: -350px;
  }
  .texto01 {
    padding-top: 50px;
  }
  .texto02 {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1570px) {
 .flecha03{
  width: 61%;
  top: -58%;
  left: 47%;
 }
 .card{
  height:493px ;
  
 }
 .card_img{
  width: 65px;

 }
 .card-title{
  font-size: 1.2rem;
 }
 .card-text{
  font-size: 0.9rem;
 }
}
@media screen and (max-width: 1462px) {
  .parte03 {
    margin-top: -250px;
  }
  .texto02 {
    padding-top: 50px;
  }
  .card{
    height:457px ;
    
   }  
   
   .card-text{
    font-size: 0.8rem;
    font-weight: 200;
   }
}
@media screen and (max-width: 1417px) {
  .flecha03{
   width: 64%;
   top: -57%;
  }
  .card{
    height:442px ;    
   }   
   .card-title{
    font-size: 1.1rem;
   }
   .card-text{
    font-size: 0.75rem;
   }
 }

@media screen and (max-width: 1326px) {
  .txt {
    margin: 15px 0 15px 0;
    line-height: 120%;
  }

  .titulo {
    line-height: 110%;
  }
  .flecha03{
    /* transform: rotate(6deg); */
    top: -45%;
    width: 57%;

   }
   /* .card{
    height:436px ;
    
   } */
   .card_img{
    width: 55px;
  
   }
   .card-title{
    margin-bottom: 1rem;
    margin-top: 0.6rem;
   }
   
}

@media screen and (max-width: 1260px) {
  main {
    padding: 9rem 3rem 2rem 3rem;
  }
  .row {
    width: 100%;
  }
  .flecha_verde_desk {
    left: 35%;
  }
  /* .card{
    height: 411px;
  } */
}
@media screen and (max-width: 1199px) {
  .texto02 {
    padding-top: 50px;
  }
  .flecha_verde_desk {
    left: 30%;
  }
  .texto03 {
    padding-left: 150px;
    padding-top: 30px;
  }
  .img04 {
    width: 100%;
    height: 72%;
  }
  .txt_vertical01 {
    padding-top: 115px;
  }
  .flecha03{
    
    top: -48%;

   }
   .card-title{
    margin-top: 0;
    margin-bottom: 0.5rem;
   }
}

@media screen and (max-width: 1110px) {
  /* .btn_escribinos {
    height: 40px;
    width: 180px;
    padding-top: 3px;
  }
  .sobre_papel_amarillo {
    height: 20px;
  }
  .sobre_papel_negro {
    height: 20px;
  } */
  /* .img04{
    width:100% ;
  } */
}
@media screen and (max-width: 1065px) {
  .txt_somos{
    font-size: 32px;    
  }
  .logotipo{
    width: 350px;
    height: 87px;
  }
 .circulo{
  width: 20rem;
  height: 20rem;
  top: -145px;

 }
 .titulo_diseniamos{
  font-size: 37px;
  margin-top: -38px;
  margin-bottom: -17px;

  /* margin-bottom:2.2rem ; */
  line-height: 112%;
 }
 .circulo h2{
  margin-top: 28px;
  font-size: 1rem;
  line-height: 147%;
 }
 .aMedida{
  font-size: 2.5rem;
 }
 .parte05{
  height: 600px;
 }
 .puntos03{
  top: -41px;
 }
 .flecha03{
  top: -55%;
 }
 .btn2{
  top: 4%;
 }
  
}
@media screen and (max-width: 1050px) {
  .txt {
    margin: 15px 0 15px 0;
    line-height: 120%;
  }

  .titulo {
    line-height: 110%;
  }
  .puntos03{
    top: -43px;
  }
  .containerCirculo{
    margin-top: 75px;
  }
  
}
@media screen and (max-width: 1004px) {
  .col02,
  .col03 {
    padding-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .puntos01 {
    display: none;
  }
  .puntos02 {
    margin: 150px 0 0 -320px;
  }
  .img01 {
    margin-top: 20px;
  }
  .img02 {
    top: 40px;
  }
 
  .row {
    width: 110%;
  }
  .flecha_verde_desk {
    height: 20%;
    width: 25%;
    left: 35%;
    top: -145px;
  }
  .texto01 {
    padding-top: 25px;
  }
  .img06 {
    width: 400px;
  }
  .txt_vertical03 {
    margin-top: 220px;
  }
  .texto02 {
    padding-top: 17px;
  }
  .texto03 {
    padding-top: 0px;
  }
  .puntos03 {
    height: 40%;
  }
  .parte02 p, .parte03 p, .parte04 p{
    font-size: 0.9rem;
  }
  .flecha03{
    top: -46%;
  }
  .aMedida{
    font-size: 2rem;
  }
  .parte05{
    height: 530px;
  }
  .servicios p{
    font-size:26px ;
  }
  .card{
    height:350px ;
  }
  .card-title{
    font-size: 1rem;
  }
}
@media screen and (max-width: 907px) {
  /* .fondo_primera_parte {
    width: 100%;
  } */
  .parte03 {
    margin-top: -170px;
  }
  .parte02 p,
  .parte03 p,
  .parte04 p {
    /* font-size: 0.9rem; */
    line-height: 160%;
  }
  .img06 {
    width: 350px;
  }
  .txt_vertical03 {
    margin-top: 170px;
  }
  .puntos03 {
    height: 30%;
  }
  .texto03 {
    padding-left: 92px;
    padding-top: 0px;
    padding-right: 52px;
  }
}

@media screen and (max-width: 824px) {
  .header_claro {
    display: none;
  }
  .logo_cabecera {
    width: 50px;
    height: 52px;
    margin: 0.5rem 0 0.5rem 2rem;
  }
  .bars__menu {
    margin-right: 4rem;
  }
  .bars__menu span {
    display: block;
  }

  #bold {
    margin-right: 0;
  }
  .navigation {
    width: 100%;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.show {
    display: block;
  }
  .navigation ul li {
    display: block;
    text-align: center;
  }
  .navigation ul li a {
    border-radius: 0;
  }

  main {
    padding: 5rem 3rem 2rem 3rem;
  }
  .row {
    width: 105%;
  }
  .parte03 {
    margin-top: -150px;
  }
  .parte02 p,
  .parte03 p,
  .parte04 p {
    font-size: 0.8rem;
  }
  .flecha03{
    top: -42%;
  }
  .card{
    height: 388px;
  }
}
@media screen and (max-width: 767px) {
  .col01 {
    margin-top: -25px;
  }
  .text-center {
    left: 0;
  }
  .puntos02 {
    display: none;
  }
  .flecha_verde_desk {
    display: none;
  }
  .puntosMobile01 {
    display: block;
    position: relative;
    top: -100px;
    margin-left: -70px;
  }
  .col01 {
    height: 425px;
  }
  .img01 {
    height: 250px;
  }
  .img03 {
    margin-top: 20px;
    margin-left: 10px;
    height: 250px;
  }

  .fondo_primera_parte {
    /* margin-left: 46px; */
    height: 706px;
  }
  .logo_cabecera {
    margin-left: 5rem;
  }
  figure {
    position: relative;
    top: -200px;
    z-index: 3;
    left: -30px;
  }
  .flecha_verde {
    display: block;
    position: relative;
    z-index: 1;
    height: 234px;
    width: 312px;
    left: -120px;
    top: 140px;
  }
  .vision_global {
    display: none;
  }
  .vision_global_Mobile {
    display: flex;
  }
  .texto01 {
    padding: 62px 10px 0 10px;
  }
  .img04 {
    position: relative;
    z-index: 3;
  }
  .puntosMobile02 {
    position: relative;
    z-index: 1;
    height: 50%;
    width: 50%;
    right: 164px;
    top: 15px;
  }
  .txt_vertical01 {
    padding-top: 86px;
  }
  .parte03 {
    margin-top: -20px;
    /* margin-left: 25px; */
  }
  .credibilidad {
    justify-content: center;
    margin-left: -40px;
  }
  .puntosMobile03 {
    /* display: block; */
    display: flex;
    width: 50%;
    height: 40%;
    position: relative;
    z-index: 1;
    left: 154px;
    top: 270px;
  }
  .img05 {
    position: relative;
    z-index: 3;
    margin-top: 20px;
    height: 75%;
  }
  .txt_vertical02 {
    padding-top: 152px;
  }
  .comunicacion {
    display: none;
  }
  .comunicacionMobile {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .txt_vertical03 {
    left: -7%;
    margin-top: 150px;
  }
  .img06 {
    width: 330px;
  }
  .puntosMobile04 {
    top: 156px;
    left: 22%;
  }
  .parte05{
    height: 950px;
    margin-top: 100px;
  }
  .txt_somos, .aMedida, .img07{
    display: none;
  }
  .img07mobile{
    display: block;
    width: 104%;
    transform: rotate(5deg);

    /* size: 20%; */
  }
  .flecha03{
    display: none;
  }
  .txt_somosMobile{
    display: block;

  }
  .containerCirculo{
    margin-top: 203px;
  }
  /* .circulo{
    top: -232px;
  } */
  .logotipo{
    margin-top: -100px;
  }
  /* .titulo_diseniamos{
    margin: 10px 0 46px 0;
    padding: 7px ;
  } */
  /* .btn2{
    top: -20%;
  } */
  .card{
    height: 291px;
  }
  .img07mobile{
    margin-top: -115px;
  }

  
}
@media screen and (max-width: 575px) {
  .img01 {
    height: 200px;
  }

  .col02,
  .col03 {
    margin-top: -50px;
  }
  .img03 {
    display: none;
    /* height: 200px;
    display: inline; */
  }
  .img0302 {
    display: inline-block;
    position: relative;
    height: 200px;
    margin-top: 15px;
    margin-left: 30px;
    z-index: 3;
  }
  .puntosMobile01 {
    left: 165px;
    top: -65px;
    margin: 0;
  }
  /* .col03{
    display: none;
  } */
  .btn_escribinos {
    display: none;
  }
  .textMobile {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
    left: 15px;
  }
  .text_mobile {
    text-align: center;
  }
  .circulo h2{
    margin-top: 10px;
  }
  .btn02mobile {
    display: block;
    position: relative;
    left: 22%;
    top: 5%;
    /* height: 40px;
    width: 180px;
    padding-top: 3px; */
  }
  .parte05{
    height: 920px;
  }
  .titulo_diseniamos{    
    padding-bottom: 23px ;
  }
}

@media screen and (max-width: 552px) {
  .img01 {
    height: 150px;
  }
  .col02 {
    margin-top: -75px;
  }
  .flecha_verde {
    height: 210px;
    width: 280px;
    left: -130px;
  }
  .col01 {
    margin-top: 11px;
  }
  .card{
    height:330px ;
  }
}

@media screen and (max-width: 493px) {
  .logo_cabecera {
    margin-left: 3.125rem;
  }
  .bars__menu {
    margin-right: 3.125rem;
  }
  .img0302 {
    height: 150px;
  }
  .texto01,
  .texto02 {
    padding: 0 30px 0 30px;
  }
  .txt_vertical01 {
    font-size: 14px;
    padding-top: 57px;
  }

  .img05 {
    height: 300px;
  }
  .puntosMobile03 {
    left: 100px;
    top: 210px;
  }
  .txt_vertical02 {
    font-size: 14px;
    padding-top: 20px;
  }
  .texto03 {
    padding: 60px 30px 0 30px;
  }
  .txt_vertical03 {
    font-size: 14px;
    margin-top: 93px;
    left: -9%;
  }
  .img06 {
    width: 220px;
    height: 220px;
  }
  .puntosMobile04 {
    width: 172px;
    height: 128px;
    top: 110px;
    left: 100px;
  }
  .parte05{
    height:1000px ;
    margin-top: 65px;
  }
  .logotipo{
    width: 265px;
    height: 66px;
  }
  .containerCirculo{
    margin-top: 190px;
  }
  .circulo{
    width: 25rem;
    height: 25rem;
    left: -55px; 
   }
   .titulo_diseniamos{
    padding-bottom: 55px;
   }
   .img07mobile{
    width: 120%;
    margin-bottom: 30px;
    margin-left: -10%;
   
       }
   .btn02mobile{
    left: 27%;
    top: 18%;
   }
   /* .titulo_diseniamos{
    margin-top: 30px;
   } */
   .card{
    height: 370px;
  }
}

@media screen and (max-width: 455px) {
  .flecha_verde {
    left: -145px;
    top: 136px;
  }
  .puntosMobile01 {
    height: 111px;
    width: 150px;
    left: 100px;
  }
  .img01 {
    height: 120px;
  }
  .col02 {
    margin-top: -125px;
  }
  .textMobile {
    top: -40px;
  }
  .txt_vertical03 {
    left: -11%;
  }
  .logo_cabecera {
    margin-left: 2rem;
  }
  .bars__menu {
    margin-right: 2rem;
  }
  .img07mobile{
    width: 145%;
  }
  .card_img{
    margin: 20px 0 0 20px;
  }
  .card{
    width: 340px;
    height: 345px; ;
  }
  
}

@media screen and (max-width: 419px) {
  .col02 {
    padding: 0;
  }
  .img0302 {
    height: 135px;
  }
  .texto01 {
    margin-top: -10%;
  }
  .txt_vertical01,
  .txt_vertical02,
  .txt_vertical03 {
    font-size: 12px;
  }
  .txt_vertical01 {
    padding-top: 40px;
  }

  .puntosMobile02 {
    right: 117px;
  }
  .puntosMobile04 {
    width: 128px;
    height: 119px;
    left: 70px;
    top: 100px;
  }
  .img06 {
    width: 200px;
    height: 200px;
  }
  .txt_vertical03 {
    left: -19%;
  }
  .img07mobile{
    width: 170%;
    
  }
  .parte05{
    height: 1045px;
  }
  
}

@media screen and (max-width: 394px) {
  .img0302 {
    margin-left: 0.5rem;
    height: 130px;
  }
  .titulo {
    font-size: 2rem;
  }
  .img05 {
    height: 260px;
  }
}
@media screen and (max-width: 371px) {
  .text-center {
    top: -134px;
  }
  .col01 {
    margin-top: -10px;
  }
  .col02 {
    margin-top: -190px;
  }
  .img01 {
    height: 115px;
  }
  .img0302 {
    height: 120px;
  }
  .titulo {
    font-size: 1.7rem;
  }
  .puntosMobile01 {
    left: 55px;
    top: -112px;
  }
  .flecha_verde {
    height: 150px;
    width: 200px;
    top: 125px;
    left: -109px;
  }
  .textMobile {
    position: relative;
    top: -100px;
  }
  .parte02 {
    margin-top: -70px;
  }
  .puntosMobile02 {
    right: 90px;
    top: 22px;
  }
  .txt_vertical01 {
    padding-top: 25px;
  }
  .img07mobile{
    width: 215%;
  }
}
