:root{
    --grey:#F8F8F5;
    --black:#282727;
    --yellow:#F7AB04;
    --green:#427662;
    --font-Hind: 'Hind', sans-serif;
    --font-Montserrat:'Montserrat', sans-serif;

}

html{
    box-sizing: border-box;
    font-family: var(--font-Montserrat);
    font-size: 1.2rem;
    scroll-behavior: smooth;
    
    
}

body{   
    margin: 0; 
    background-color: var(--grey);
    color: var(--black) ;    
    
}
/* .fondo_primera_parte{
    background-image: url("Assets/puntos.png");    
    background-position: 65% 90%;
    background-repeat: no-repeat;
} */
/*******  primera parte columna 1 ******/

figure{
    margin: 0;
}

.titulo{
    font-family: var(--font-Hind);
    font-weight: 600;
    text-shadow: -4px 2px 2px rgba(0, 0, 0, .25);
    font-size: 70px;
    margin: 0;
    line-height: 120%;
}  
.txt{
    font-family: var(--font-Hind);
    font-size: 30px;
    margin: 35px 0 40px 0;
    line-height: 140%;
}

.btn_escribinos{
    background-color: var(--black);
    color: var(--grey);
    border-radius: 70px;
    height: 50px;
    width: 200px;
}
.sobre_papel_amarillo{
    height: 25px;
    margin: 5px;
}
.sobre_papel_negro{
    
    height: 25px;
    margin: 5px;
    
}
.btn_escribinos:hover{
    background-color: var(--yellow);
    color: var(--black);   
}
.btn_escribinos:hover .sobre_papel_negro{
    display: inline-block;

}
.btn_escribinos:hover .sobre_papel_amarillo{
    display: none;
}
.display{
    display: none;
}
/******* fin primera parte columna 1 ******/


/*******  primera parte columna 2 ******/
.img01{
    position: relative;
    z-index: 3;
}
.img02{
    position: relative;
    z-index: 3;
}
.puntos01{
    margin: -130px 0 0 260px;
    
}

/******* fin primera parte columna 2 ******/

/*******  primera parte columna 3 ******/
.img03{
    position: relative;
    margin-top: 17%;
    z-index: 3;
}
.puntos02{
    position: absolute;
    margin: 0 0 0 -320px;
}

/******* fin primera parte columna 3 ******/






/* Main */
main{
    padding: 9rem 9rem 2rem 9rem;
}

/* Footer */
footer{
    background-color: var(--black);
    color: var(--grey);
    font-size: 14px;
    padding: 1rem 0;    
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    height: 30px;
}
footer > p{
    margin: 0;
}

@media screen and (max-width: 824px) {
    
    
    
    main{
        padding: 5rem 3rem 2rem 3rem;
    }
}